.container{
   margin-bottom: 100px;
}
.carousel {
    background-color: #fceae8;
    border-radius: 20px;
}
.carousel-item{
    padding: 20px 40px;
    
}
.pink{
    color:rgb(233, 27, 78)
}
.btn{
    font-size: larger;
    color:whitesmoke
}
p{
    color:grey;
    font-size: large;
}
.cat1{
    background-color: orange;
    border-radius: 20px;
}
.cat2{
    background-color: rgb(192, 8, 186);
    border-radius: 20px;
}
.cat3{
    background-color: blue;
    border-radius: 20px;
}
.cat1, .cat2, .cat3{
    padding:10px 30px;
    color:whitesmoke;
}
.categories img{
    width: 120px;
}
.card{
    border:none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
}
#subscribe{
    background-color:#fceae8;
    padding:100px 400px;
    display: flex;
    text-align: center;
    border-radius: 10px;
}
footer{
    text-align: center;
    font-size: 50px;
}